@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

:root{
    --primary-color:#FBBF24;
    /* --primary-color:#6366F1; */
    /* --primary-color:#111827; */
    --off-yellow:#FEF3C7;
    --dark-gray: #6B7280;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}

/* header */

.hero{
    padding: 2rem;
}

.hero .hero-img{
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero .hero-heading{
    text-align: center;
    color: #6B7280;
    padding: 0.5rem 0rem;
}

/* lists */
.list-no-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline; 
    padding: 0rem 1rem;   
}

.list-no-bullet li a{
    margin: 1rem 0.5rem 0.5rem 0rem;
}

/* navigation */
.navigation{
    background-color: var(--primary-color);
    /* color: white; */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: large;
}

.nav-pills{
    text-align: right;
}

.navigation .link{
    color:black;
}

.navigation .link-active{
    font-weight: 800;
}

.navigation ul {
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color: var(--primary-color);
    padding: 0.5rem;
    color: white;
    border-radius: 0.5rem;
    font-weight: bold;
}

.link-secondary{
    padding: 0.5rem;
    color: var(--primary-color);
    border-radius: 0.5rem;
    font-weight: bold;
    border: 2px solid var(--primary-color);
}

/* container */
.container{
    padding: 0.5rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
} 

/* sections */
.section{
    padding: 2rem;
}

.section h1{
    text-align: center;
}

.off-yellow{
    background-color: var(--off-yellow);
}


/* para */

.list-no-bullet .project-text{
    padding: 0rem 0rem 1rem 0rem;
}

/* footer */
.footer{
    background-color: var(--primary-color);
    padding: 0.5rem 0rem;
    text-align: center;
    color: black;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.footer .link{
    color: white;
}

.footer ul{
    margin: 0%;
    padding-inline-start: 0;
}

.footer img{
    width : 25px
}

/* media query */

@media screen and (max-width: 400px) {
    
    .list-item-inline{
        display: list-item; 
        /* padding: 0rem 1rem;    */
    }
    .hero .hero-img {
        max-width: 100px;
    }
  }


